@import "tailwindcss";

@theme {
  /* --color-lightHover: #fcf4ff; */
  --color-lightHover: #f8d29b;
  --color-darkHover: #2a004a;
  --color-darkTheme: #000000;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", sans-serif;
  --my-grid-cols: repeat(auto-fit, minmax(200px, 1fr));
}
a {
  background-color: unset !important;
}

@custom-variant dark (&:where(.dark, .dark *));
